<section class="container">
    <div class="row">
        <div class="col-12">
            <hgroup>
                <h1 class="text-center">Lorem Ipsum</h1>
                <h3 class="text-center">Lorem Ipsum</h3>
                <h6 class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, optio magnam inventore, cumque iste harum labore nostrum veniam consequatur tenetur deleniti! Adipisci officiis nostrum aspernatur sequi nisi alias vitae fuga!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, optio magnam inventore, cumque iste harum labore nostrum veniam consequatur tenetur deleniti! Adipisci officiis nostrum aspernatur sequi nisi alias vitae fuga!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, optio magnam inventore, cumque iste harum labore nostrum veniam consequatur tenetur deleniti! Adipisci officiis nostrum aspernatur sequi nisi alias vitae fuga!</h6>
            </hgroup>
        </div>
    </div>
</section>