<section class="container-fluid">
    <div class="d-flex flex-row-reverse vh-50">
        <div class="col-8"></div>
        <div class="col-4 bg-jumbo1"></div>
    </div>
</section>

<style>
    .vh-50{
        height: 50vh;
    }
    .bg-jumbo1{
        background-image: url("https://placehold.it/960x960");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
