<header class="bg-header vh-100">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img
                    src="https://placehold.it/20x20"
                    alt="Logo"
                    width="30"
                    height="24"
                    class="d-inline-block align-text-top"
                />
                Bootstrap
            </a>
            <ul class="mx-5 my-2">
                <li class="list-inline-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/products">Productos</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/services">Servicios</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<style>
    .bg-header{
        background-image: url("https://placehold.it/1920x1080");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>