<section class="container">
    <div class="row">
        <div class="col-4 d-flex flex-column align-items-center">
            <img class="rounded-circle" src="https://placehold.it/180x180" alt="" height="180" width="180">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
        <div class="col-4 d-flex flex-column align-items-center">
            <img class="rounded-circle" src="https://placehold.it/180x180" alt="" height="180" width="180">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
        <div class="col-4 d-flex flex-column align-items-center">
            <img class="rounded-circle" src="https://placehold.it/180x180" alt="" height="180" width="180">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
    </div>
</section>